.gradient{
  background: linear-gradient(
    270deg,
    #7c3aed 0%,     /* Đậm bên phải */
    #c4b5fd 40%,    /* Trung gian */
    #c4b5fd 60%,    /* Nhạt ở giữa */
    #c4b5fd 65%,    /* Trung gian */
    #7c3aed 100%    /* Đậm bên trái */
  );
  color: white;
}

.advice-text {
  white-space: pre-line; /* giữ xuống dòng nếu có \n */
  word-wrap: break-word; /* tự động xuống dòng khi quá dài */
  overflow-wrap: break-word; /* fallback cho trình duyệt khác */
}
