# name: Deploy to VPS

# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout source
#         uses: actions/checkout@v4

#       - name: Deploy to VPS via SSH
#         uses: appleboy/ssh-action@v1.0.0
#         with:
#           host: ${{ secrets.VPS_HOST }}
#           username: ${{ secrets.VPS_USER }}
#           key: ${{ secrets.VPS_PRIVATE_KEY }}
#           script: |
#             cd ../
#             cd /var/www/diatech/Healthcare_KLTN_FE
#             git pull origin main
#             npm install
#             npm run build
